:root {
    font-family: Poppins;
    --primary-color: #4b0082;
    --accent-color: #4b0082;
}

body {
    margin: 0;
}

@media (pointer:coarse) {
    :root {
        -webkit-tap-highlight-color: transparent;
    }
}