.dashboardMainContainer {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.dashboardContainer {
    display: flex;
    width: 100%;
    max-width: 1200px;
    gap: 24px;
    flex-direction: column;
}

.dashboardCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px;
    background-color: rgb(230, 230, 230);
    border-radius: 16px;
    border: 1px solid grey;
    box-shadow: 4px 4px 16px rgb(190, 190, 190);
}

.dashboardUserDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.dashboardUserImage {
    height: 80px;
    width: 80px;
    border-radius: 4px;
    object-fit: fill;
}

.dashboardUserName {
    font-family: Montserrat;
    font-size: 24px;
}

.dashboardUserStatContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.dashboardUserStat {
    padding: 8px;
    width: 100%;
}

.dashboardUserStatTitle {
    color: grey;
}

.dashboardUserStatIconVal {
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: var(--accent-color);
    align-items: center
}

.dashboardUserStatValue {
    color: var(--accent-color);
    font-size: 32px;
}

.dashboardWorkoutTitle {
    font-size: 32px;
    font-family: Montserrat;
}

.workoutCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    border: 1px solid grey;
    border-radius: 8px;
}

.workoutTypeTitle {
    font-size: 24px;
}

.workoutType {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.workoutStat {
    display: flex;
    flex-direction: row;
    gap: 16px;
}