* {
  margin: 24px;
  padding: 0;
  box-sizing: border-box;
  border-color: var(--primary-color);
}

.box {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.meditation-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.meditation-box h1 {
  justify-content: flex-start;
  font-size: 42px;
}
.about-meditation {
  justify-content: flex-start;
}
.steps-experience {
  display: grid;
  margin: 0;
  grid-template-columns: 1fr 1fr;
}
.steps{
    margin: 0;
    grid-template-rows: repeat(5,1fr);
}
.steps p {
    font-weight: 400;
    font-size: 32px;
}

.experience {
    margin: 0;
}
.experience p {
    font-weight: 400;
    font-size: 32px;
}
.videos {
}
