h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.wrap{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--primary-color);
    width:80vw;
    border-radius: 20px;
    margin-bottom: 50px;
}
.overall{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(218, 217, 126);
}

h3{
    display:block;
}
.cal{
    width:50px;
    margin:5px;
    background-color:  rgb(218, 217, 126);
}
.meal{
    background-color:  rgb(218, 217, 126);
    width:40px;
    margin:7px;
}
.Generate{
    background-color:  rgb(218, 217, 126);
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 10px;
}

.dietList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nameOfDiet{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:30px;
    background-color:  rgb(218, 217, 126);
    color: black;
    width: 100px;
    height: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}
.nameOfDiet:hover{
    transform: scale(1.2);
}

h2{
    margin: 5px;
}

.item{
    margin-left: 50px;
}