h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.wrap{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:orange;
}

h3{
    display:block;
}
.cal{
    width:50px;
    margin:5px;
}
.meal{
    width:40px;
    margin:7px;
}
.Generate{
    background-color: azure;
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.dietList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nameOfDiet{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:30px;
    background-color: black;
    color: azure;
    width: 100px;
    height: 50px;
}